body{
  margin: 0px;
}
h1{
  font-size: 22px;
  font-weight: 900;
  padding-top: 20px;
}
h2{
  font-size: 15px;
  font-weight: 900;
  display: inline-block;
  position: relative;
  right: 31px;
  top: 6px;
  width: 100px;
}
p{
  color: hsl(224, 23%, 55%);
  font-size: 16px;
  font-weight: 500;
  width: 260px;
  margin: 0px auto 20px;
}

/**************Classes****************/
.bg-img{
  position: absolute;
  top: 0px;
  width: 100vw;
}
.music-img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 200px;
  width: 360px;
}
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(225, 100%, 94%);
  text-align: center;
}
.main-box{
  background-color: white;
  border-radius:20px;
  font-family: 'Red Hat Display', sans-serif;
  height: 570px;
  width: 360px;
  z-index: 1;
}
.annual-plan{
  background-color:  hsl(225, 100%, 98%);
  border-radius: 10px;
  margin: auto;
  height: 75px;
  width: 290px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 8px #666666;
  -moz-box-shadow: 0px 3px 8px #666666;
  box-shadow: 0px 3px 8px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  background: hsl(245, 75%, 52%);
  padding: 10px 75px 10px 75px;
  text-decoration: none;
}

.btn:hover {
  background: #7976cc;
  text-decoration: none;
}
.btn-space{
  padding-top: 30px;
}
.music-icon{
  height: 41px;
  width: 41px;
  padding-left: 16px;
  padding-top: 18px;
  float: left;
}
.price{
  font-size: 15px;
  position: relative;
  right: 29px;
  bottom: 4px;
  width: 100px;
  opacity: 80%;
}
.change{
  position: relative;
  top: 13px;
  left: 21px;
  font-size: 14px;
  font-weight: 700;
}
.change:hover{
  color: black;
}
.cancel-space{
  font-size: 15px;
  font-weight: 700;
  padding-top: 30px;
  color: hsl(224, 23%, 55%);
}
.cancel{
  color: grey;
}
.cancel:hover{
  color: black;
}
/************ Mobile viw *************/
@media (max-width: 412px){
  *{
    box-sizing:border-box;
  }
    .container{
    height:100vh;
    width:100vw;
  }
    .bg-img{
      width: 100vw;
    }
    .main-box{
    width: 325px;
    height:550px;
    }
  .music-img{
  height: 180px;
  width: 325px;
}
.music-icon{
  height: 60px;
  width: 60px;
}
  }
